<div class="container">
  <div class="row mt-5 p-5">  
    <div class="col-md-6">
      <%= link_to "Netflix", netflix_path, class: "btn btn-outline-danger btn-lg w-100 mt-5" %>
    </div>
    <div class="col-md-6">
      <%= link_to "Hulu", hulu_path, class: "btn btn-outline-success btn-lg w-100 mt-5" %>
  </div>
</div>