<div class="container">
  <div class="row mt-5 p-5">  
    <div class="col-md-6">
      <%= link_to "Netflix", netflix_path, class: "btn btn-outline-danger btn-lg w-100 mt-5" %>
    </div>
    <div class="col-md-6">
      <%= link_to "Hulu", hulu_path, class: "btn btn-outline-success btn-lg w-100 mt-5" %>
    </div>
  </div>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card bg-dark text-white bg-opacity-75">
        <div class="card-body">
          <div class="col-12 sidebar comments ">
            <h2 class="bg-secondary text-center">次観るドラマ・アニメを探そう！</h2>
          </div>        
        </div>
        <img src="/assets/top1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">今回このサービスを作ったのは、私自身、仕事終わりや休日にサブスクを利用してドラマやアニメをよく観るのですが、「次何観るか」の選択肢が多数ぎて、選ぶのが面倒だなと思うことが多々あります。また、私がドラマやアニメを選ぶ基準は基本的に、ポスター画像が「いい感じ」かどうかです。そのため、ランダムでドラマ、アニメが表示され、かつ、ポスター画像やタイトル、概要で「いい感じ」のものが出て来れば、数多くの選択肢から選ぶよりも、運任せで気楽にサブスクを利用出来ると思い作成しました。</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card bg-dark text-white bg-opacity-75">
        <div class="card-body">
          <div class="col-12 sidebar comments ">
            <h2 class="bg-secondary text-center">配信サービスを選ぼう！</h2>
          </div>        
        </div>
        <img src="/assets/top2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">NetflixかHuluかを選択しよう！</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card  bg-dark text-white bg-opacity-75">
        <div class="card-body">
          <div class="col-12 sidebar comments ">
            <h2 class="bg-secondary text-center">シチュエーションを選ぼう！</h2>
          </div>        
        </div>
        <img src="/assets/top3.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">シチュエーションを選択しよう！シチュエーションを選択したら、ランダムでそのシチュエーションに合ったドラマ・アニメが出てくる！</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card  bg-dark text-white bg-opacity-75">
        <div class="card-body">
          <div class="col-12 sidebar comments ">
            <h2 class="bg-secondary text-center">「気になる」をしよう！</h2>
          </div>        
        </div>
        <img src="/assets/top4.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">ユーザー登録者は、気になる機能を使ってランダムで出てきたドラマを「気になるリスト」に保存することが出来る！※ゲストユーザーは気になるボタンは表示されません。</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card  bg-dark text-white bg-opacity-75">
        <div class="card-body">
          <div class="col-12 sidebar comments ">
            <h2 class="bg-secondary text-center">自分だけの気になるリスト！</h2>
          </div>        
        </div>
        <img src="/assets/top5.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">気になるリストは、次に観る候補として大活躍します！</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card  bg-dark text-white bg-opacity-75">
        <div class="card-body">
          <div class="col-12 sidebar comments ">
            <h2 class="bg-secondary text-center">感想を書こう！</h2>
          </div>        
        </div>
        <img src="/assets/top6.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">気になるリストから、ドラマ・アニメを見た後は感想を書いて、他のユーザーに共有しよう！</p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>