<div class="container">
  <div class="row mt-5 p-5">
    <div class="col-md-4">
      <%= link_to "テンション上げたい", show_path(provider_id: "213", genre_id: "35"), class: "btn btn-outline-light btn-lg w-100 mt-5" %>
    </div>
    <div class="col-md-4">
      <%= link_to "チルしたい", show_path(provider_id: "213", genre_id: "10751|16"), class: "btn btn-outline-light btn-lg w-100 mt-5" %>
    </div>
    <div class="col-md-4">
      <%= link_to "ハラハラしたい", show_path(provider_id: "213", genre_id: "9648|10764|10759|10765"), class: "btn btn-outline-light btn-lg w-100 mt-5" %>
    </div>
  </div>
</div>