<nav class="navbar navbar-light bg-dark">

    <%= link_to root_path, class:"navbar-brand ms-3" do %>
      <span class="text-white">サブスクルーレット</span>
    <% end %>
    
    <%= link_to login_path, class: 'd-flex me-3 text-light' do %>
      <span>ログイン</span>
    <% end %>
    
</nav>